.address{
    text-align: center;
}
body{
    background-color: #E3F6FF
}
.email{
    text-align: center;

}
.heading{
    text-align: center;
}
img{
    width: 200px;
    margin-right: 100px;
}
.tel{
    text-align: center;
}

